<div class="container">
  <h2>Список мов програмування</h2>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Введіть назву..."
      class="search-input"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()">
  </div>
  <div class="grid">
    @if (languages.length > 0) {
      @for (lang of languages; track lang.id) {
        <app-item-card
          [language]="lang"
          (selected)="onLanguageSelected($event)">
        </app-item-card>
      }
    } @else {
      <div class="no-results">
        <p>На жаль, за запитом "<strong>{{ searchTerm }}</strong>" нічого не знайдено.</p>
      </div>
    }
  </div>
</div>
