<div class="container">
  <h2>Каталог мов програмування</h2>
  <div class="list-wrapper">
    @for (item of languages; track item.id) {
      <div class="card"
           [ngClass]="{
             'top-tier': item.rating >= 9,
             'mid-tier': item.rating >= 6 && item.rating < 9
           }">
        <div class="card-header">
          <h3>{{ item.name }}</h3>
          @if (item.rating === 10) {
            <span class="badge"> Лідер</span>
          }
        </div>
        <p>{{ item.description }}</p>
        <div class="rating-box"
             [ngStyle]="{ 'color': getRatingColor(item.rating) }">
          Рейтинг: <strong>{{ item.rating }}/10</strong>
        </div>
      </div>
    }
  </div>
</div>
